---
import { useEffect, useState } from 'astro:react';

type GalleryCardProps = {
  images: string[];
  interval?: number; // Time in milliseconds for image rotation
};

const GalleryCard = ({ images, interval = 3000 }: GalleryCardProps) => {
  const [currentImageIndex, setCurrentImageIndex] = useState(0);

  useEffect(() => {
    const timer = setInterval(() => {
      setCurrentImageIndex((prevIndex) => (prevIndex + 1) % images.length);
    }, interval);

    return () => clearInterval(timer);
  }, [images.length, interval]);

  return (
    <div class="overflow-hidden rounded-3xl mb-4">
      <img
        src={images[currentImageIndex]}
        alt={`Gallery image ${currentImageIndex + 1}`}
        class="w-full aspect-square object-cover"
      />
    </div>
  );
};

export default GalleryCard;
---