@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: Marisa;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/marisa/Marisa.otf") format("otf");
}

@theme {
  --font-sans: "Lato", sans-serif;
  --font-serif: "Marisa", serif;

  --color-primary-1: #CEC3AA;
  --color-primary-2: #A0A0A0;
  --color-primary-3: #FCFCFA;
}
