---
import { Image } from "astro:assets";
import HomeSlider from "@components/HomeSlider.astro";
import Layout from "@layouts/Layout.astro";

import img1 from "@assets/img/silla.jpg";
import img2 from "@assets/img/mesa.jpg";
import ContactSection from "@components/ContactSection.astro";
---

<Layout
  title="Astro.js"
  description="Astro.js - Un sitio web de ejemplo construido con Astro"
>
  <!-- <Welcome /> -->
  <HomeSlider />

  <section class="bg-white text-gray-800">
    <!-- Frase principal -->
    <div class="container mx-auto text-center py-16 lg:py-24 px-4">
      <h2 class="font-normal text-xl lg:text-2xl xl:text-3xl xl:text-2xl">
        Transforma tus espacios con sillas y comedores que combinan<br />
        sofisticación, accesibilidad y funcionalidad
      </h2>
    </div>

    <!-- Primera fila: texto + imagen -->
    <div
      class="container mx-auto grid gap-8 md:grid-cols-2 items-center py-12 lg:py-20 px-4"
    >
      <div
        class="space-y-4 font-light text-base md:text-lg lg:text-xl xl:text-2xl leading-relaxed"
      >
        <p>
          En <span class="font-medium">Aesthetic Concept</span> nos especializamos
          en sillas y comedores en tonos neutros que responden a las necesidades
          de arquitectos, diseñadores e interioristas para darle un toque único a
          cualquier proyecto.
        </p>
        <p>
          Nuestros diseños son de la más <span class="font-medium"
            >alta calidad</span
          > e innovadores para garantizar que cada pieza sea un complemento <span
            class="font-medium">versátil y atemporal</span
          >.
        </p>
      </div>
      <Image
        src={img1}
        alt="Silla conceptual"
        class="w-full h-auto rounded-2xl object-cover shadow-lg -order-1 lg:order-none"
      />
    </div>

    <!-- Segunda fila: imagen + texto -->
    <div
      class="container mx-auto grid gap-8 md:grid-cols-2 items-center py-12 lg:py-20 px-4"
    >
      <Image
        src={img2}
        alt="Detalle de comedor"
        class="w-full h-auto rounded-2xl object-cover shadow-lg"
      />
      <div
        class="space-y-4 font-light text-base md:text-lg lg:text-xl xl:text-2xl leading-relaxed"
      >
        <p>
          Ofrecemos <span class="font-medium">precios competitivos</span> para que
          nuestros clientes accedan al diseño de alta gama sin comprometer su presupuesto.
        </p>
        <p>
          Con una pasión por el <span class="font-medium">diseño</span> y un compromiso
          con la <span class="font-medium">accesibilidad</span>, en Aesthetic
          convertimos ideas en realidad, creando espacios que inspiran.
        </p>
      </div>
    </div>
  </section>

  <ContactSection />
</Layout>
