---
// SectionContact.astro
// Última sección de contacto
---

<section id="contacto" class="bg-white text-gray-800 mt-16 mb-24">
  <div class="container mx-auto px-4 text-center">
    <h2
      class="text-xl md:text-2xl lg:text-3xl xl:text-4xl tracking-wide font-light mb-8 lg:mb-12"
    >
      CONTÁCTANOS PARA COTIZAR
    </h2>

    <!-- Datos de contacto -->
    <ul
      class="max-w-6xl mx-auto grid grid-cols-1 lg:grid-cols-3 items-center justify-items-center
      gap-x-12 gap-y-6 mb-8
      text-base md:text-lg lg:text-xl font-light"
    >
      <!-- WhatsApp -->
      <li class="flex items-center gap-3">
        <svg
          width="29"
          height="30"
          viewBox="0 0 29 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21.4586 17.2384C21.402 17.2103 19.2879 16.1333 18.9124 15.9934C18.759 15.9364 18.5948 15.8809 18.4201 15.8809C18.1344 15.8809 17.8948 16.0279 17.7081 16.317C17.4968 16.6418 16.8577 17.415 16.6602 17.6456C16.6344 17.676 16.5993 17.7124 16.5782 17.7124C16.5594 17.7124 16.232 17.5729 16.1331 17.5286C13.8653 16.5094 12.1438 14.0588 11.9078 13.6455C11.8741 13.5863 11.8726 13.5592 11.8723 13.5592C11.8806 13.5278 11.9567 13.4486 11.9962 13.4078C12.1115 13.29 12.2362 13.1344 12.3569 12.9844C12.4142 12.9131 12.4715 12.8419 12.5277 12.7748C12.7027 12.564 12.7807 12.4005 12.8713 12.2108L12.9188 12.1121C13.1396 11.6584 12.9511 11.2759 12.8902 11.1521C12.8401 11.0486 11.9473 8.82 11.8527 8.58563C11.6243 8.0205 11.3227 7.75763 10.9037 7.75763C10.8649 7.75763 10.9037 7.75763 10.7405 7.76475C10.5419 7.77338 9.46055 7.92075 8.98241 8.23238C8.47528 8.56313 7.6176 9.61725 7.6176 11.4709C7.6176 13.1393 8.64094 14.7146 9.08065 15.3139C9.09153 15.3289 9.11146 15.3596 9.14083 15.4035C10.8235 17.946 12.9217 19.83 15.0481 20.709C17.0955 21.555 18.0652 21.6529 18.6162 21.6529C18.8478 21.6529 19.0331 21.6341 19.1969 21.6173L19.3006 21.6071C20.0078 21.5423 21.5622 20.709 21.9157 19.6928C22.1941 18.8921 22.2677 18.0176 22.0824 17.7C21.9555 17.484 21.7366 17.3756 21.46 17.238L21.4586 17.2384Z"
            fill="#CEC3AA"></path>
          <path
            d="M14.7574 0C6.90348 0 0.513698 6.56063 0.513698 14.6243C0.513698 17.2324 1.18831 19.7854 2.46648 22.02L0.019974 29.4855C-0.0257009 29.6246 0.00837401 29.7788 0.107699 29.8834C0.179474 29.9591 0.276986 30 0.376674 30C0.414736 30 0.453161 29.994 0.490861 29.9816L8.01563 27.5081C10.075 28.6462 12.4022 29.247 14.7574 29.247C22.6106 29.247 29 22.6875 29 14.6243C29 6.561 22.6109 0 14.7574 0ZM14.7574 26.2009C12.5411 26.2009 10.3943 25.539 8.54923 24.2861C8.48724 24.2441 8.4151 24.2224 8.3426 24.2224C8.30418 24.2224 8.26575 24.2284 8.22841 24.2408L4.45878 25.4801L5.67569 21.7661C5.7152 21.6458 5.69527 21.5134 5.62277 21.411C4.21772 19.4246 3.47496 17.0779 3.47496 14.6243C3.47496 8.24025 8.53618 3.04613 14.7574 3.04613C20.9786 3.04613 26.0384 8.23988 26.0384 14.6243C26.0384 21.0075 20.9779 26.2005 14.7574 26.2005V26.2009Z"
            fill="#CEC3AA"></path>
        </svg>

        <a
          href="https://api.whatsapp.com/send/?phone=525518362291"
          target="_blank"
          class="hover:opacity-80 transition">55 1836 2291</a
        >
      </li>

      <!-- Instagram -->
      <li class="flex items-center gap-3">
        <svg
          width="28"
          height="28"
          viewBox="0 0 28 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M21.4667 0H6.53335C4.80085 0.00233318 3.1408 0.690665 1.91567 1.91567C0.690665 3.14068 0.00235946 4.80085 0 6.53335V21.4667C0.00233318 23.1992 0.690665 24.8592 1.91567 26.0843C3.14068 27.3093 4.80085 27.9976 6.53335 28H21.4667C23.1992 27.9977 24.8592 27.3093 26.0843 26.0843C27.3093 24.8593 27.9976 23.1992 28 21.4667V6.53335C27.9977 4.80085 27.3093 3.1408 26.0843 1.91567C24.8593 0.690665 23.1992 0.00235946 21.4667 0ZM26.1333 21.4666C26.1321 22.7033 25.6398 23.8898 24.7648 24.7648C23.8898 25.6398 22.7033 26.1321 21.4667 26.1333H6.53335C5.29669 26.1321 4.11018 25.6398 3.23518 24.7648C2.36018 23.8898 1.86786 22.7033 1.86669 21.4666V6.53332C1.86786 5.29666 2.36018 4.11015 3.23518 3.23515C4.11018 2.36015 5.29666 1.86783 6.53335 1.86666H21.4667C22.7033 1.86783 23.8898 2.36015 24.7648 3.23515C25.6398 4.11015 26.1321 5.29663 26.1333 6.53332V21.4666ZM14 7.46665C12.2675 7.46665 10.6051 8.15499 9.37993 9.37996C8.15481 10.6049 7.46662 12.2675 7.46662 14C7.46662 15.7326 8.15496 17.395 9.37993 18.6201C10.6049 19.8452 12.2674 20.5334 14 20.5334C15.7326 20.5334 17.3949 19.8451 18.6201 18.6201C19.8452 17.3951 20.5334 15.7326 20.5334 14C20.531 12.2675 19.8427 10.6075 18.6177 9.38235C17.3927 8.15735 15.7325 7.46901 14 7.46665ZM14 18.6666C12.7622 18.6666 11.5757 18.1755 10.7006 17.2993C9.82447 16.4243 9.33331 15.2378 9.33331 13.9999C9.33331 12.7621 9.82447 11.5756 10.7006 10.7006C11.5756 9.82441 12.7621 9.33325 14 9.33325C15.2379 9.33325 16.4243 9.82441 17.2994 10.7006C18.1755 11.5756 18.6667 12.7621 18.6667 13.9999C18.6655 15.2366 18.1732 16.4231 17.2982 17.2981C16.4232 18.1731 15.2367 18.6655 14 18.6666ZM23.5666 6.0665C23.5666 6.72683 23.1687 7.32299 22.5586 7.57501C21.9484 7.82817 21.2449 7.68817 20.7783 7.22151C20.3116 6.75484 20.1716 6.05133 20.4248 5.44119C20.6768 4.83101 21.2729 4.43319 21.9333 4.43319C22.8351 4.43319 23.5666 5.16465 23.5666 6.0665Z"
            fill="#CEC3AA"></path>
        </svg>

        <a
          href="https://instagram.com/aestheticconcept_mex"
          target="_blank"
          rel="noopener"
          class="hover:opacity-80 transition">aestheticconcept_mex</a
        >
      </li>

      <!-- Email -->
      <li class="flex items-center gap-3">
        <svg
          width="38"
          height="26"
          viewBox="0 0 38 26"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_257_601)">
            <path
              d="M1.06585 24.6216C0.49668 24.052 0.220059 23.2164 0.156334 22.4427C-0.340426 16.3655 0.540129 9.68556 0.156334 3.54485C0.254817 1.91624 1.40041 0.642038 3.1369 0.5H35.0165C36.6487 0.633764 37.8015 1.68595 37.9985 3.23457V22.753C37.8478 24.0038 37.0252 24.9898 35.7768 25.3855C24.8843 25.6158 13.9396 25.4131 3.02683 25.4876C2.35772 25.4297 1.52496 25.0822 1.06441 24.6202L1.06585 24.6216ZM32.7919 2.05276H4.60545L16.5292 12.8407C18.0368 14.028 19.3591 14.0294 20.8682 12.8407C24.6714 9.84414 28.0937 5.95397 31.9258 2.93119L32.7919 2.05276ZM1.7871 3.03323V22.8013C5.57435 19.8709 9.22837 16.7764 12.9577 13.7743C13.7716 13.162 14.7738 14.0791 14.083 14.8458L3.08476 23.779C2.90517 23.8604 3.08765 24.0383 3.14124 24.0383H34.5255C34.3908 23.83 34.175 23.6342 33.9853 23.4687C30.5905 20.5108 26.851 17.8713 23.4143 14.9534C22.6438 14.1659 23.5026 13.1234 24.4368 13.7743L35.813 23.0702L35.9361 23.5211L36.3199 23.1143L36.3735 3.33662C36.4372 2.76157 35.574 1.83212 35.0092 2.14791L21.5677 14.2294C19.8732 15.6125 17.3793 15.5063 15.7196 14.126L2.54455 2.30374C2.27807 2.15619 1.81896 2.87879 1.7871 3.03186V3.03323Z"
              fill="#CEC3AA"></path>
          </g>
          <defs>
            <clipPath id="clip0_257_601">
              <rect
                width="38"
                height="25"
                fill="white"
                transform="translate(0 0.5)"></rect>
            </clipPath>
          </defs>
        </svg>

        <a
          href="mailto:aestheticconceptmex@gmail.com"
          class="hover:opacity-80 transition">aestheticconceptmex@gmail.com</a
        >
      </li>
    </ul>

    <!-- Botón catálogo -->
    <a
      href="#"
      target="_blank"
      class="inline-flex items-center gap-2 bg-[#C9BCA4] text-white px-6 py-2 rounded-full
      text-sm md:text-base shadow-sm hover:opacity-90 transition"
      download
    >
      <svg
        class="w-4 h-4"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 3v12"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"></path>
        <path
          d="M8 11l4 4 4-4"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M5 20h14"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"></path>
      </svg>
      Descargar catálogo
    </a>
  </div>
</section>
