<footer class="bg-black p-4 lg:px-6">
  <p class="text-center text-white text-base lg:text-xl font-light">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  </p>
</footer>
