---
import "@styles/global.css";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import { ClientRouter } from "astro:transitions";
import BtnWhatsApp from "./BtnWhatsApp.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <ClientRouter />
  </head>
  <body class="flex flex-col min-h-screen">
    <Header />
    <main class="mt-16 lg:mt-24 flex-1 bg-white">
      <slot />
    </main>
    <Footer />
    <BtnWhatsApp />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
